<div class="card2">

  <div class="card2-header">

    <div class="card2-header-icon">
      <img src="img/<%= coin.logo %>" alt="" width="64px" height="64px">
    </div>

    <div class="card2-header-detail">
      <div class="card2-header-detail-title"><%= coin.name %></div>
      <div class="card2-header-detail-subtitle"><%= coin.abbreviation %></div>
    </div>

  </div>

  <div class="card2-body">

    <div class="card2-body-value">
      <span><%= coin.lastValue %></span>
    </div>

  </div>


</div>
