<div class="recentOrders">

  <div class="card-header">
    <h2>Ativos - BitCoin</h2>
  </div>

  <div class="card-body">

    <table id="recentTrades">
      <thead>
        <tr>
          <td>Trade Id.</td>
          <td>Date</td>
          <td>Price</td>
          <td>Amount</td>
          <td>Type</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>No records found.</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
