<div class="topbar">
  <div class="logo">
    <img src="img/icon-coin.svg" alt="" width="44px" height="44px">
  </div>
  <!-- search -->
  <div class="headerTitle">
      <span>Cripto - Dashboard</span>
  </div>
</div>
